<html>
<head>
  <script src="https://kit.fontawesome.com/086d5b66c5.js" crossorigin="anonymous"></script>
  <h1>Welcome <%=@user.name %></h1>
</head>

<body>
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

<div id="posts"></div>

<%= javascript_include_tag 'users' %>
</body>
</html>
