/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   color: white;
   text-align: center;
   background-image: linear-gradient(40deg, #21345a, #12213f, #4267B2, #4267B2);
   background-size: auto;
 }

 .sign_up_form {
   align-items: center;
   height: 300px;
   width: 50%;
   margin: auto;
   background-color:#1d2d4d6c;
   border-radius: 20px;
 }

 .user_name_enter.label {
   float: left;
 }

 .user_name_enter.input {
   float: right;
 }

 .user_email_enter.label {
  float: left;
}

.user_email_enter.input {
  float: right;
}

#posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.075);
}

#post {
  display: flex;
  position: relative;
  min-height: 200px;
  margin: 10px;
  align-items: center;
  color: rgb(0, 0, 0);
  width: 30%;
  background-color: rgb(219, 221, 225);
  border-radius: 10px;
  box-shadow: 5px 5px 5px #17192b70;
  transition-duration: 0.5s;
}

#user_name {
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 20px;
  font-family: Helvetica, Helvetica, sans-serif;
}

#no_of_likes {
  position: absolute;
  right: 5%;
  bottom: 0%;
  font-size: 10px;
  font-family: Helvetica, Helvetica, sans-serif;
}

#likeButton {
  position: absolute;
  right: 10%;
  bottom: 10%;
  font-size: 20px;
  font-family: Helvetica, Helvetica, sans-serif;
}

#likeButton button {
  position: absolute;
  background-color: orange;
  transform: rotate(-45deg);
  right: 10%;
  bottom: 10%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

#likeButton button:hover {
  position: absolute;
  background-color: rgb(43, 255, 0);
  transform: rotate(-45deg);
  right: 10%;
  bottom: 10%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

#message {
  position: absolute;
  left: 20%;
  top: 20%;
  font-size: 20px;
  font-family: Helvetica, Helvetica, sans-serif;
}

#time {
  position: absolute;
  left: 80%;
  top: 0%;
  font-size: small;
  font-style: italic;
}
/* #post:hover {
  box-shadow: 10px 10px 5px #17192b70;
} */
