// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#deleteButton {
  font-size: 20px;
  font-family: Helvetica, Helvetica, sans-serif;
}

#deleteButton button {
  position: absolute;
  left: 5%;
  bottom: 15%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 5px;
  transition-duration: 0.5s;
}

#deleteButton button:hover {
  background-color: rgba(47, 167, 39, 0.568);
  transform: scale(1.1);
}
